* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rdt {
  width: 100% !important;
  // outline: 2px solid transparent;
  border: 1.5px solid #e6e6e6 !important;
  border-radius: 0.375rem;
  margin-top: 10px;
  margin-bottom: 10px;

  input {
    width: 100%;
    height: 40px;
    padding: 0px 18px;

    &:active {
      outline: none;
      border: none;
    }
  }
}

.numberinput {
  input {
    border: 1px solid black;
    width: 100%;
    height: 40px;
    border: 1.5px solid #e6e6e6 !important;
    border-radius: 0.375rem;
    padding: 0px 18px;
  }
}
